<script type="text/javascript">
    function HP() {
        var intak = document.getElementById("IntakeList").value();
        var ex = document.getElementById("ExhaustList").value();
        var ep = document.getElementById("EnginePartList").value();
        var brake = document.getElementById("BrakesList").value();
        var susp = document.getElementById("SuspensionList").value();
        xmlhttp.open("POST", "~/Views/Edit", true);
        xmlhttp.send();
    }
</script>
@model PerformanceCarApp.Models.Car

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Car"))
{
    @Html.AntiForgeryToken()
    <div>
        <br /><br /><br /><br />
        <fieldset>
            <form id="HP">
                Select Intake:@Html.DropDownList("IntakeList", (IEnumerable<SelectListItem>)ViewBag.SelectListIntake)
                Select Engine Part: @Html.DropDownList("EnginePartList", (IEnumerable<SelectListItem>)ViewBag.SelectListEngineParts)
                Select Exhaust: @Html.DropDownList("ExhaustList", (IEnumerable<SelectListItem>)ViewBag.SelectListExhaust)
                Select Suspension: @Html.DropDownList("SuspensionList", (IEnumerable<SelectListItem>)ViewBag.SelectListSuspensions)
                Select Brakes: @Html.DropDownList("BrakesList", (IEnumerable<SelectListItem>)ViewBag.SelectListBrakes)
                <input type="submit" value="Calculate" onclick="HP();" />
            </form>
        </fieldset>
    </div>
    <center>
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Performance%20car%20installation%20near%20detroit%2C%20mi&key=AIzaSyByZ4s3Qoh26h4_55WzfXWkW6ZyrFecrug"></iframe>
    </center>
    <center>
        Base Horsepower: @Html.TextBox("BaseHorsepower", (int)ViewBag.BHP)
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Projected Horsepower: @Html.TextBox("ProjectedHorsepower", (int)ViewBag.HP)
        <br /><br />
        Suspension Drop: @Html.TextBox("Drop", (int)ViewBag.SuspDrop)
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Weight Saved: @Html.TextBox("Weight", (int)ViewBag.Weight)
    </center>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
