<script type="text/javascript">
    $(document).ready(function () {
        $('#SelectListIntake').change(function () {
            var name1 = $('#IntakeList').val();
            $.ajax({
                url: '/Controllers/CarController/PopulateProjectedHorsepower',
                data: { a: name1 },
                success: function (result) {
                },
                error: function () {
                }
            });
        });
    });

    $(document).ready(function () {
        $('#EnginePartList').change(function () {
            var name2 = $('#EnginePartList').val();
            $.ajax({
                url: '/Controllers/CarController/PopulateEnginePartHorsepower',
                data: { a: name2 },
                success: function (result) {
                },
                error: function () {
                }
            });
        });
    });
    $(document).ready(function () {
        $('#ExhaustList').change(function () {
            var name3 = $('#ExhaustList').val();
            $.ajax({
                url: '/Controllers/CarController/PopulateExhaustHorsepower',
                data: { a: name3 },
                success: function (result) {
                },
                error: function () {
                }
            });
        });
    });
    function UpdateWeight() {
        var current = document.getElementById("Weight");
        var brake = document.getElementById("BrakesList");
        var susp = document.getElementById("SuspensionList");

    }
    $('#HP').on('change', function (e) {
        e.preventDefault();
        var details = $('#HP').serialize();
        $.post('#edit.cshtml', details, function (data) {
            $('#edit').html(data);
        });
    });
</script>
@model PerformanceCarApp.Models.Car

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Edit</h2>

<div>
    <br /><br /><br /><br />
    <form id="HP" action="Edit.cshtml" method="post">
        Select Intake:@Html.DropDownList("IntakeList", (IEnumerable<SelectListItem>)ViewBag.SelectListIntake)
        Select Engine Part: @Html.DropDownList("EnginePartList", (IEnumerable<SelectListItem>)ViewBag.SelectListEngineParts)
        Select Exhaust: @Html.DropDownList("ExhaustList", (IEnumerable<SelectListItem>)ViewBag.SelectListExhaust)
    </form>
    <form name="Weight" action="Edit.cshtml" method="post">
        Select Suspension: @Html.DropDownList("SuspensionList", (IEnumerable<SelectListItem>)ViewBag.SelectListSuspensions)
        Select Brakes: @Html.DropDownList("BrakesList", (IEnumerable<SelectListItem>)ViewBag.SelectListBrakes)
    </form>
</div>
<center>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Performance%20car%20installation%20near%20detroit%2C%20mi&key=AIzaSyByZ4s3Qoh26h4_55WzfXWkW6ZyrFecrug"></iframe>
</center>
<center>
    Base Horsepower: @Html.TextBox("BaseHorsepower", (int)ViewBag.BHP)
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    Projected Horsepower: @Html.TextBox("ProjectedHorsepower", (int)ViewBag.BHP)
    <br /><br />
    Suspension Drop: @Html.TextBox("Drop", (int)ViewBag.SuspDrop)
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    Weight Saved: @Html.TextBox("Weight", (int)ViewBag.Weight)
</center>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
