@model PerformanceCarApp.Models.Car

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Edit</h2>

<div>
    <br /><br /><br /><br />
    Select Intake:@Html.DropDownList("IntakeList", (IEnumerable<SelectListItem>)ViewBag.SelectListIntake)
    Select Engine Part: @Html.DropDownList("EnginePartList", (IEnumerable<SelectListItem>)ViewBag.SelectListEngineParts)
    Select Exhaust: @Html.DropDownList("ExhaustList", (IEnumerable<SelectListItem>)ViewBag.SelectListExhaust)
    Select Suspension: @Html.DropDownList("SuspensionList", (IEnumerable<SelectListItem>)ViewBag.SelectListSuspensions)
    Select Brakes: @Html.DropDownList("BrakesList", (IEnumerable<SelectListItem>)ViewBag.SelectListBrakes)
</div>
<center>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Performance%20car%20installation%20near%20detroit%2C%20mi&key=AIzaSyByZ4s3Qoh26h4_55WzfXWkW6ZyrFecrug"></iframe>
</center>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
