@model IEnumerable<PerformanceCarApp.Models.Car>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.ActionLink("Make", "Index", new { sortOrder = ViewBag.MakeSortParm })
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder=ViewBag.NameSortParm})
        </th>
        <th>
            Generation
        </th>
        <th>
            Drivetrain
        </th>
        <th>
            BodyStyle
        </th>
        <th>
            BaseHorsePower
        </th>
        <th>
            Trim
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivetrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseHorsepower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trim)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CarID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CarID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarID })
            </td>
        </tr>
    }

</table>
