@model IEnumerable<PerformanceCarApp.Models.Car>

@{
    ViewBag.Title = "Car Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $(document).ready(function () {
            $("#slider").scrollLeft("slow");
        })
    });

</script>



<h2>Car Index</h2>
<br><br />
<br><br />
<center>
    <h2>Build Your Ride!</h2>
    <br><br />
    <strong>
        <font color="#000000" style="font-weight:bold">
            @using (Html.BeginForm())
            {
                <p>
                    Find by Make, Model, Generation, Drivetrain, or Engine Size:
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </font>
    </strong>
    <br><br />
</center>
<font color="#000000">
    <table class="table" style="font-weight:bold">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivetrain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineSize)
            </th>
        </tr>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Generation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drivetrain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineSize)
                </td>
                <td>
                    @Html.ActionLink("Build It!", "Edit", new { id = item.CarID }) |
                </td>
            </tr>
            }
        </table>
        </
    </font>
