@model PerformanceCarApp.Models.Intake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Intake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntakeHPGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntakeHPGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntakeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntakeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
