@model IEnumerable<GCFinalProject.Models.EnginePart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnginePartHPGain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnginePartName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnginePartHPGain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnginePartName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnginePartID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnginePartID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnginePartID })
        </td>
    </tr>
}

</table>
