<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Performance Car Loft</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
    
  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

    <div class="fb-like"
         data-send="true"
         data-width="450"
         data-show-faces="true">
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Performance Car Loft", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Build Your Ride", "Index", "Car")</li>
                    <li>@Html.ActionLink("Gallery", "Index", "Part")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <li>@Html.TextBox("SearchString")<input type="submit" value="Search" /></li>


                </ul>
                @Html.Partial("_LoginPartial")

            </div>
            
        </div>
    </div>
    <div id="Click Here">Double Click to Open Door </div>
    <img id="garage" src="~/Images/red_garage_door.jpg" width="750" height="750" />
   
    
    <script>

        $(document).dblclick(function () {
            if ($("#garage:first").is(":hidden")) {
                $('#garage').show("slow");
            }

            else {
                $('#garage').slideToggle();
            }
        })
    </script>



    <div class="container body-content">

        @RenderBody()


        <footer>
            <p>&copy; @DateTime.Now.Year - Performance Car Loft</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
