@model PerformanceCarApp.Models.Exhaust

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exhaust</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExhaustHPGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExhaustHPGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExhaustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExhaustName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExhaustID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
