@model PerformanceCarApp.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Profile Picture
        </th>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
            Birthday
        </th>
        <th>
            Gender
        </th>
        <th>
            Horsepower
        </th>
        <th>
            Quarter Mile
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.UserEmail)
        </td>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.Make)
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.Model)
        </td>
        <td>
            @Html.DisplayFor(model => model.UserBirthday)
        </td>
        <td>
            @Html.DisplayFor(model => model.Gender)
        </td>
        <td>
            @Html.DisplayFor(model => model.Horsepower)
        </td>
        <td>
            @Html.DisplayFor(model => model.QuarterMile)
        </td>
        <td>
            @Html.ActionLink("Edit Profile", "Edit", new { id = ViewBag.UserID }) |
            @Html.ActionLink("View Profile", "Details", new { id = ViewBag.UserID }) |
            @Html.ActionLink("Deactivate Your Account", "Delete", new { id = ViewBag.UserID })
        </td>
    </tr>
    }

</table>
