@model IEnumerable<PerformanceCarApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
        <th>
            Birthday
        </th>
        <th>
            Gender
        </th>
        <th>
            Horsepower
        </th>
        <th>
            Quarter Mile
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.TextBox((String)ViewBag.UserName)
        </td>
        <td>
            @Html.TextBox((String)ViewBag.UserCarMake)
        </td>
        <td>
            @Html.TextBox((String)ViewBag.UserCarModel)
        </td>
        <td>
            @Html.TextBox((String)ViewBag.BDay)
        </td>
        <td>
            @Html.TextBox((String)ViewBag.Gender)
        </td>
        <td>
            @Html.TextBox((String)ViewBag.UserHP)
        </td>
        <td>
            @Html.TextBox((String)ViewBag.UserQM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
