@model IEnumerable<PerformanceCarApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
        <th>
            Birthday
        </th>
        <th>
            Gender
        </th>
        <th>
            Horsepower
        </th>
        <th>
            Quarter Mile
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.TextArea((string)ViewBag.UserEmail)
        </td>
        <td>
            @Html.TextArea((string)ViewBag.UserCarMake)
        </td>
        <td>
            @Html.TextArea((string)ViewBag.UserCarModel)
        </td>
        <td>
            @Html.TextArea((string)ViewBag.BDay)
        </td>
        <td>
            @Html.TextArea((string)ViewBag.Gender)
        </td>
        <td>
            @Html.TextArea((string)ViewBag.UserHP)
        </td>
        <td>
            @Html.TextArea((string)ViewBag.UserQM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=ViewBag.UserID }) |
            @Html.ActionLink("View Profile", "Details", new { id=ViewBag.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=ViewBag.UserID })
        </td>
    </tr>
}

</table>
