@model IEnumerable<PerformanceCarApp.Models.Part>

@{
    ViewBag.Title = "Part Index";
}

<h2>Part Index</h2>
       <form action="">
              <select name="Part">
                    <optgroup label="Engine">

                          <option value="APR ECU Chip">APR ECU Chip</option>
                    </optgroup>

                    <optgroup label="Exhaust">
                        <option value="Flowmaster Full Dual">Flowmaster Full Dual</option>
                        <option value="Borla Full Dual">Borla Full Dual</option>
                        <option value="Walker Full Dual">Walker Full Dual</option>
                        <option value="Draft Design Turboback">Draft Design Turboback</option>     
                    </optgroup>
                    <optgroup label="Suspension">
                      <option value="KD Coilover">KD Coilover</option>
                    </optgroup>
                    <optgroup label="Brakes">
                      <option value="Brembo">Brembo</option>
                      <option value="Baer">Baer</option>
                    </optgroup>        
                    <optgroup label="Air Intake">
                       <option value="CTS Turbo Cold Air Intake">CTS Turbo Cold Air Intake</option>
                    </optgroup>
              </select>
                     <input type="submit" value="search" />
         </form>                      

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.ActionLink("PartType", "Index", new { sortOrder=ViewBag.NameSortParm})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.PartID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartID}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.PartID})
        </td>
    </tr>
}

</table>
